POSTGRES_URL=
AUTH_SECRET=
CRON_SECRET=
APP_URL=http://localhost:3000
META_WHATSAPP_ACCESS_TOKEN=
META_WHATSAPP_PHONE_NUMBER_ID=
META_WHATSAPP_BUSINESS_ACCOUNT_ID=
META_WHATSAPP_VERIFY_TOKEN=
META_WHATSAPP_APP_SECRET=
WHATSAPP_TEMPLATE_NAME=leetcode_reminder
WHATSAPP_TEMPLATE_LANGUAGE=en_US
